/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    background-color: #f0f0f0; /* Define a cor de fundo da página */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
}

/* Estilo para o cabeçalho */
header {
    background-color: #4c63af; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona espaço ao redor do conteúdo */
}

/* Estilo para a seção principal do site */
section {
    padding: 20px; /* Adiciona espaço interno */
    margin: 20px; /* Adiciona espaço externo */
    background-color: white; /* Cor de fundo da seção */
}

/* Estilo para o rodapé */
footer {
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 10px; /* Adiciona espaço ao redor do conteúdo */
    background-color: #333; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto no rodapé */
    margin-top: 20px; /* Adiciona espaço acima do rodapé */
}
